p {
    font-size: 13px;
    padding: 5px;
    border-radius: 3px;
}

.base_receive p {
    background: #2ecc71;
    color: #fff;
    border: 1px solid #e3e3e3;
    border-radius: 6px;
    max-width: 477px;
    word-break: break-all;
}

.base_sent p {
    background: #fff;
    color: #000;
    border: 1px solid #e3e3e3;
    border-radius: 6px;
    max-width: 477px;
    word-break: break-all;
}

time {
    font-size: 11px;
    font-style: italic;
}

#login-box {
    margin-top: 20px
}

.close-chat {
    margin-top: -17px;
    cursor: pointer;
}

.chat_box {
  position: absolute;
  top: 55px;
  right: 1%;
  width: 100%;
  max-width: 1020px;
}

.chat-area {
    min-height: 580px;
    overflow-y: scroll;
    background-color: whitesmoke;
}
.chat_a_text{
    font-size: 19px;
    text-transform: capitalize;
  }

#users li {
    margin-bottom: 5px;
}

.glyphicon-ok {
    color: #42b7dd;
}
.panel-footer .input-group-btn .btn-chat{
    background-color: #2d2d2d;
    color: #fff;
    padding: 11px 9px;
    font-size: 13px;
}
.msg_container .admin_chat_logo{
    font-size: 20px;
    background-color: lightgray;
    padding: 10px;
    border-radius: 50%;
}
.user_icon{
    flex-basis: 50px;
}
.messages{
    flex: 0 0 50%;
    max-width: calc(100% - 50px);
}

.loader {
    -webkit-animation: spin 1000ms infinite linear;
    animation: spin 1000ms infinite linear;
}
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

.launch-review, .launch-review:hover {
    color: #fff;
    padding: 8px 15px;
    background: #ff5a5f;
    font-size: 12px;
    border-radius: 50px;
    text-decoration: none;
}

.conversation-review{
    position: absolute;
    top: 13px;
    right: 56px;
}

/* star rating */
.rating {
    display: inline-block;
    position: relative;
    height: 50px;
    line-height: 50px;
    font-size: 50px;
  }
  
  .rating label {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    cursor: pointer;
  }
  
  .rating label:last-child {
    position: static;
  }
  
  .rating label:nth-child(1) {
    z-index: 5;
  }
  
  .rating label:nth-child(2) {
    z-index: 4;
  }
  
  .rating label:nth-child(3) {
    z-index: 3;
  }
  
  .rating label:nth-child(4) {
    z-index: 2;
  }
  
  .rating label:nth-child(5) {
    z-index: 1;
  }
  
  .rating label input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
  }
  
  .rating label .icon {
    float: left;
    color: transparent;
  }
  
  .rating label:last-child .icon {
    color: #000;
  }
  
  .rating:not(:hover) label input:checked ~ .icon,
  .rating:hover label:hover input ~ .icon {
    color: #3d627a;
  }
  
  .rating label input:focus:not(:checked) ~ .icon:last-child {
    color: #000;
    text-shadow: 0 0 5px #3d627a;
  }